.spinner{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #FF6500;
  border-bottom: 5px solid transparent;
}
